<!-- new.html.erb -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<%= form_for @user, method: "post" do |f| %>
			<%= f.email_field :email, placeholder: "Email" %>
			<%= f.password_field :password, placeholder: "Password" %>
			<%= f.submit "Sign In" %>
		<% end %>
	</div>
</body>
</html>