<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <% if current_user != nil%>
            	<li role="presentation" class="active"><a href= <%= "#{user_show_path(current_user)}" %> >Profile</a></li>
            <% end %>
            <li role="presentation" class="active"><a href= <%= "#{places_path}" %> >Places</a></li>
            <% if current_user != nil%>
            	<li role="presentation" class="active"><a href= <%= "#{user_logout_path}" %> >Logout</a></li>
            <% end %>

        </ul>
    </div>
</div>
</body>
</html>