#places-index-header {
	color: red;
	text-align: center;
}

#pac-input {
	margin-left: 500px
}

#googleMap {
	margin-left: 380px;
}

#headerName {
	text-align: center;
}

#formTitle {
	margin-left: 560px
}

#postListing {
	margin-left: 560px;
}

#postListing2 {
	margin-left: 530px;
}