#places-index-header {
	color: red;
	text-align: center;
}

#pac-input {
	margin-left: 500px
}

#list-of-places {
	margin: 0px, auto;
	position: relative;
}

.continent {
	font-size: 25px;
	position: relative;
}

.country {
	font-size: 18px;
}

.cities {
	font-size: 16px;
}

#googleMap {
	margin-left: 380px;
}

#headerName {
	text-align: center;
}

#formTitle {
	margin-left: 560px
}

#postListing {
	margin-left: 560px;
}

#postListing2 {
	margin-left: 530px;
}