// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#laPic {
  position: relative;
  width: 100%;
}

#userInfo {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: xx-large;
  font-weight: bolder;
  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;

}

#infoList {
	list-style: none;
}

#profilePic {
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 10%;
}