// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#laPic {
  position: relative;
  width: 100%;
}

#userInfo {
  position: absolute;
  top: 80%;
  left: 12%;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

#infoList {
	list-style: none;
}

#profilePic {
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 10%;

}