<<<<<<< HEAD
index.html.erb

<h1>Blah</h1>
<body>
	<form>
		<input id="pac-input" class="controls" type="text"
        placeholder="Enter a location" size="50">
	</form>

</body>
<script type="text/javascript">
	placesAutoComplete()	

</script>
=======
<%= render partial: "../views/navbar.html.erb" %>
>>>>>>> e5489d4e9c045529e13dbf2a9626d552b622e4d8
