<%= render partial: "navbar" %>
<h1>Places</h1>
<body>
	<!-- <form class"search-places-bar">
		<input id="pac-input" class="search" type="text" placeholder="Enter a location" size="50">
        <button type="submit" class="search-button">Submit</button>
	</form>
	<div id="googleMap" style="width:500px;height:380px;"></div> -->

</body>

<%= link_to(San Francisco, "/places/3?37.7577,-122.4376") %>
<script type="text/javascript">
	// placesAutoComplete()	
	//clickFunctio

</script>
