<h1>Blah</h1>
<body>
	<form>
		<input id="pac-input" class="controls" type="text"
        placeholder="Enter a location" size="50">
	</form>

</body>
<script type="text/javascript">
	placesAutoComplete()	

</script>



